#task-form {
  display: none;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 2px;
  border-style: solid;
  padding: 10px;
}

#close-btn {
  position: absolute;
  top: 0px;
  right: 12px;
  font-size: 30px;
  cursor: pointer;
  color: #888;
}

#close-btn:hover {
  color: #000;
}